.button {
  color: #fff;
  background-color: #a75555;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;

  cursor: pointer;
}
